.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F3F3F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3D3D3D;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.share-card {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  min-height: 150px;
  width: 200px;
  margin: 25px;
  padding: 25px;
  cursor: pointer;
  background: #fff;
  color: #20272e;
  font-size: 13px;
  line-height: 1.5715;
}

.share-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.share-img {
  width: 50px;
}
