.App {
  text-align: center;
}

.App-logo {
  height: 65px;
}

.App-header {
  background-color: #F3F3F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3D3D3D;
}

.App-loading-img {
  display: inline;
  width: 200px;
}

.App-body {
  margin-top: 100px;
}

/* Share card */
.shares-title {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.share-card {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  min-height: 150px;
  width: 200px;
  margin: 25px;
  padding: 25px;
  background: #fff;
  color: #20272e;
  font-size: 13px;
  line-height: 1.5715;
  float: left;
}

.share-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.share-img {
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.share-details-close-btn {
  margin-top: 25px;
  float: right;
}

/* Schema card */
.schemas-title {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.schema-card {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  min-height: 150px;
  width: 200px;
  margin: 25px;
  padding: 25px;
  background: #fff;
  color: #20272e;
  font-size: 13px;
  line-height: 1.5715;
  float: left;
}

.schema-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.schema-img {
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

/* Table card */
.tables-title {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.table-card {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  min-height: 150px;
  width: 250px;
  margin: 25px;
  padding: 25px;
  background: #fff;
  color: #20272e;
  font-size: 13px;
  line-height: 1.5715;
  float: left;
}

.table-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.table-img {
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.table-card .name {
  font-weight: bold;
  max-width: 200px;
}

/* Sample data */
.sample-data-close-btn {
  margin-top: 25px;
  float: right;
}

.sample-data-title {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.output-warning {
  padding-left: 25px;
  font-size: 14px;
}
